# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
.terraform.lock.hcl

# Nunca versionar credenciales ni claves
*.pem
credentials
